/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.nav li {
    display: inline;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.nav a:hover {
    background-color: #575757;
}

.container {
    padding: 20px;
}

.categoria {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.categoria div {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 30%;
}

.categoria img {
    max-width: 100%;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-links img {
    width: 30px;
    margin: 0 10px;
}


h1, h2 {
    text-align: center;
}